################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs
/Shaarles/.vs/Shaarles
/Shaarles/.vs
/Shaarles2/.vs/Shaarles2.slnx
/Shaarles2/.vs/Shaarles2/CopilotIndices/18.4.111.64248
/Shaarles/Shaarles/x64/Debug
/Shaarles2/Shaarles2/x64/Debug
/Shaarles2/.vs/CopilotSnapshots/CDAE789C71A8704F853F92F4602930E5
/Shaarles2/Shaarles2/a.exe
/Shaarles2/.vs/Shaarles2/CopilotIndices/18.4.114.215
*.ex
*.exe
/IA_Louka/data/PGN_files/
